<h2>Добавить новый пост</h2>
<p>
	<form action="/new" method="POST" >
		<textarea name="content" class="form-control" rows="6" placeholder="Введите текст"></textarea>
		<br>
	  	<button type="submit" class="btn btn-primary">Сохранить</button>
	</form>
</p>